<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/main.css"/> -->
</head>

<body>
    <h1>Database Demo</h1>
    <p>After clicking a link, check the Visual Studio Code Terminal for results</p>

    <h1>Employee CRUD operations</h1>
    <ul>
        <li><a href="/">Home</a></li>        
        <li><a href="/employees/insert">Insert</a></li>
        <li><a href="/employees/update">Update</a></li>
        <li><a href="/employees/delete">Delete</a></li>
        <li><a href="/employees">Get All</a></li>
        <li><a href="/employees/3">Get Employee #3</a></li>
        <li><a href="/employees/wage/16.60">Get Employees with minimum wage</a></li>
    </ul>

    <h1>Authentication</h1>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/createAccount">Create Account</a></li>
    </ul>
        
</body>

</html>