<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display:flex;
            flex-direction: column;
            width:200px;

        }
    </style>
</head>
<body>
    <h1>Add an Employee</h1>
    <form method="POST" action="/employees/insert">
        <label>Enter a name:</label>
        <input type="text" name="txtName"/>
        <label>Enter an hourly rate:</label>
        <input type="text" name="txtHourlyRate"/>
        <div>
            <label>Is manager?</label>
            <input type="checkbox" name="txtIsManager"/>
        </div>
        <button>Add</button>
    </form>
</body>
</html>