<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Company Website</h1>
    <ul>
        <li><a href="/employees">All Employees</a></li>
        <li><a href="/departments">Departments</a></li>
    </ul>
</body>
</html>