<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/css/main.css" /> -->
</head>
<body>
  <h1>Customer Favorites under $2500</h1>  
  <div>
      <p>Name: Macbook Pro M </p>
      <p>Price: $2125.00</p>
      <p>Rating: 5<p>
  </div>
  <hr/>
  <div>
      <p>Name: Apple iPhone 17</p>
      <p>Price: $999.00</p>
      <p>Rating: 4<p>
  </div>
  <hr/>
  <div>
      <p>Name: Airpods </p>
      <p>Price: $199.00</p>
      <p>Rating: 4<p>
  </div>
  <hr/>

</body>
</html>