<!DOCTYPE html>
<html lang="en" data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body> 
    <!--Menu Bar-->
    <div class="navbar bg-base-100 my-6 flex flex-col sm:flex-row gap-2 sm:gap-0">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl" href="/">Rent a Car</a>
            </div>
    </div>
        <div class="container mx-auto h-screen flex justify-center items-center bg-base-100">
            <div class="card w-96 bg-base-250 card-lg shadow-lg flex justify-center items-center">
                <div class="card-body">
                    <h2 class="card-title text-2xl ">Login</h2>
                    <h2 class="card-title my-6 text-xl ">Browse Current Selection!</h2>
                    <form action="/login" method="POST" class="flex flex-col gap-2 mb-6">
                        <input type="text" placeholder="Enter email" name="email" class="input input-bordered w-full" />
                        <input type="password" placeholder="Enter password" name="password" class="input input-bordered w-full" />
                        <button class="btn btn-active btn-neutral">Login</button>       
                    </form>  
                </div>
            </div> 
        </div>       
    </div>
</body>
</html>