<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        h1 {
            font-size:32px;
            margin:10px 0px;
        }
    </style>
</head>
<body class="py-5 px-5">
    <h1>Font sizes</h1>
    <div class="divider"></div>
    <p class="text-sm">Hello world (text-sm)</p>
    <p class="text-base">Hello world (default text size)</p>
    <p class="text-lg">Hello world (text-lg)</p>
    <p class="text-xl">Hello world (text-xl)</p>
    <p class="text-2xl">Hello world (text-2xl)</p>
    <p class="text-3xl">Hello world (text-3xl)</p>
    <p class="text-4xl">Hello world (text-4xl)</p>
    <p class="text-5xl">Hello world (text-5xl)</p>
    <p class="text-6xl">Hello world (text-6xl)</p>
    <p class="text-7xl">Hello world (text-7xl)</p>
    <p class="text-8xl">Hello world (text-8xl)</p>
    <p class="text-9xl">Hello world (text-9xl)</p>

    <div class="divider"></div>


    <h1>Adding Bold, Italics and Underline</h1>    
    <p class="font-bold">Bold text</p>
    <p class="italic">Italic text</p>
    <p class="underline">Underlined text</p>

    <div class="divider"></div>

    <h1>Combining several styles</h1>

    <p class="text-lg font-bold italic underline">
        This text is size large, bold, italic, and underlined.
    </p>

    
</body>
</html>



