<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />       
</head>
<body>
    <div class="container mx-auto my-10 prose">

        <h1>Border demo</h1>

        <p>Shows how to use the border classes.</p>

         <a href="https://tailwindcss.com/docs/border-width" target="_blank" class="btn btn-outline">
            Border documentation
        </a>

        <h1>Adding Borders</h1>

        <p>This has no border</p>

        <p class="border">Border on all 4 sides</p>
        <p class="border-l">Border on left only</p>
        <p class="border-b">Border on bottom only</p>
        <p class="border-r">Border on right only</p>
        <p class="border-t">Border on top only</p>

        <div class="divider"></div>

        <h1>Border widths</h1>
    
        <p class="border-1">This is border-1</p>
        <p class="border-2">This is border-2</p>
        <p class="border-4">This is border-4</p>
        <p class="border-8">This is border-8</p>

        <p class="border-r-4">This is border-4 on the right only</p>

        <div class="divider"></div>

        <h1>Border styles</h1>

        <p class="border border-solid">This is border-solid</p>
        <p class="border border-dashed">This is border-dashed</p>

        <div class="divider"></div>
        
        <h1>Border radius</h1>

        <p class="border rounded-sm">This is rounded-sm</p>
        <p class="border rounded-md">This is rounded-md</p>
        <p class="border rounded-lg">This is rounded-lg</p>
        <p class="border rounded-full">This is rounded-full</p>
        

    </div>
</body>
</html>