<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<!-- TODO: Change the theme using the tailwind.css file and HTML tag -->
<body>
    <div role="alert" class="alert alert-error alert-vertical sm:alert-horizontal mb-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div class="shrink-0">            
            <p class="text-lg">This page demos how a DaisyUI theme works.</p>
        </div>
        <div>
            <p>Change theme? <input type="checkbox" value="synthwave" class="toggle theme-controller" /></p>
        </div>        
    </div>
    <div>
        
    </div>
  
    <div class="container mx-auto bg-base-300 p-5">
        <div class="flex flex-row justify-between">
            <div class="max-w-1/2">
                <div class="badge badge-warning italic">
                    <a href="https://www.frontendmentor.io/">Inspired by frontendmentor.io</a>
                </div>
                <p class="text-6xl text-primary">
                    Front-end and full-stack coding challenges that build real skills and help get you hired
                </p>
                <p class="my-6 text-xl">
                    Frontend Mentor provides professional design-to-code challenges that mirror real-world development
                    work. Join <span class="text-primary font-bold">1,093,055</span> developers building portfolio
                    projects that impress employers.
                </p>
                <button class="btn btn-primary">Get Started</button>
                <button class="btn btn-neutral">Browse Challenges</button>
            </div>

            <img src="https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="max-w-1/3 rounded-lg border-4 border-secondary" />

        </div>
        <div class="flex flex-row py-5 px-10 my-5 bg-neutral items-center justify-between rounded-xl">
            <div class="text-neutral-content">
                <p class="text-xl font-bold">Get AI-powered feedback on every solution submission</p>
                <p>Join thousands of developers getting personalized insights with every submission to level up faster
                </p>
            </div>
            <a href="#" class="btn btn-success rounded-4xl">Learn About Pro</a>
        </div>
    </div>



</body>

</html>