<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div class="container mx-auto prose">
        <h1>Menu</h1>
        <ol>
            <li><a href="/examples/text">Styling Text</a></li>
            <li><a href="/examples/widths">How to use widths and heights</a></li>
            <li><a href="/examples/borders">Using borders</a></li>
            <li><a href="/examples/colors">Using colors</a></li>
            <li><a href="/examples/themes">Themes</a></li>
            <li><a href="/examples/layout">Layout</a></li>
            <li><a href="/examples/prose">The prose class</a></li>
            <li><a href="/examples/hero">Hero sections</a></li>
            <li><a href="/examples/footer">Footer section</a></li>
            <li><a href="/examples/navbars">Navbars</a></li>        
        </ol>
    </div>
</body>
</html>