<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page 3</h1>
    <p>Put other stuff heree</p>

    <h1>Here is an ad for buying a subs to chatGPT</h1>

    <a href="/">Go home</a>
</body>
</html>