<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Examples from class</h1>
    <ul>
        <li><a href="/demo1">How server side template code generation works</a></li>
        <li><a href="/demo2">Demo of sending values from endpoint to template</a></li>
        <li><a href="/daisytest">Demo of daisy ui components</a></li>
    </ul>
</body>
</html>