<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/main.css"/> -->
</head>
<body>    
    <!-- Returning at 9:00am -->
    <h1>Forms Demo</h1>
    <form method="POST" action="/test">
        <input type="text" placeholder="Enter name" name="txtName"/>
        <input type="text" placeholder="Enter age" type="number" name="txtAge"/>
        <label>Which airport is closest to you?</label>
        <select name="airport">
            <option value="YYZ">Toronto Airport</option>
            <option value="JFK">New York City</option>
            <option value="CDG">Paris Airport</option>
            <option value="SIN">Singapore Airport</option>
        </select>
        <button>Click me</button>
    </form>
</body>
</html>