
        <!-- <input type="text" placeholder="Enter email" type="email"/>
        <input type="text" placeholder="Enter favorite website" type="url"/>
        <label>Tell me about yourself!</label>
        <textarea>

        </textarea>
        
        <select>
            <option value="YYZ">Toronto Airport</option>
            <option value="JFK">New York City</option>
            <option value="CDG">Paris Airport</option>
            <option value="SIN">Singapore Airport</option>
        </select>
        
        <label>Do you agree to the terms and conditions?</label>
        <input type="checkbox"/> -->
