<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
  <div class="navbar bg-base-100 shadow-sm bg-neutral text-neutral-content">
        <div class="flex-1">
            <p class="text-xl">On Loan - Borrowed </p>
        </div>
        <div class="flex-none">
              
            <ul class="menu menu-horizontal px-1">
                
                 
                <li><a href="/login">Login</a></li>
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/logout">Logout</a></li>   
                                   
            </ul>
        </div>
    </div>



 
   
</body>
</html>