<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/main.css"/> -->
</head>
<body>
   <h1>Results of calculation</h1>
    <div>
        <p>The Price of an <%=  x  %> is $<%=  y  %> after tax</p>
    </div>
   
</body>
</html>