<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>    
    <div class="container mx-auto my-5 prose">
        <h1>Color Demo</h1>    

        <p>Colors are applied to elements using the pattern:
            <code>[elementName]-[colorName]</code>
        </p>
        
        <p class="font-bold text-xl">Examples:</p>

        <!-- EXAMPLE: of applying colors to elements -->

        <p class="text-primary">Here is a text color</p>        
        <p class="border border-primary">This is a p with a border color</p>        
        <a href="#" class="btn btn-primary">This is a link</a>
        <div class="bg-primary">
            <p class="text-white">This is a div with a background</p>
        </div>
        <div class="divider"></div>

        <h1>Tailwind Color Constants</h1>    

        <p>Tailwind provides classes for setting the color of text. These colors are always the same and do <span class="italic font-bold">not</span> adapt to changes in DaisyUI themes.</p>

        <a href="https://tailwindcss.com/docs/color"
        target="_blank"
        class="btn btn-outline">
            Click here for all Tailwind colors
        </a>

        <p class="font-bold text-xl">Examples:</p>

        <!-- EXAMPLE: of Tailwind colors -->
        <p class="text-amber-700">This color is called amber-700</p>
        <p class="text-purple-400">This color is called purple-400</p>
        <p class="text-yellow-300">This color is called yellow-300</p>
        <p class="text-blue-500">This color is called blue-500</p>

        <div class="divider"></div>
        
        <h1>DaisyUI Colors</h1>
        <p>DaisyUI provides color names that adapt to the currently selected theme</p>
        <a href="https://daisyui.com/docs/colors/#list-of-all-daisyui-color-names"
        target="_blank"
        class="btn btn-outline">
            Click here for all daisyUI colors
        </a>
        <a href="/themes-demo"
        target="_blank"
        class="btn btn-outline btn-soft">
            Click here for example of themes
        </a>
    
        <p class="font-bold text-xl">Examples:</p>
        <!-- EXAMPLE: of daisyUI colors -->
        <p class="text-primary">This color is text-primary</p>
        <p class="text-secondary">This color is text-secondary</p>
        <p class="text-accent">This color is text-accent</p>
        <p class="text-success">This color is text-success</p>
        <p class="text-info">This color is text-info</p>
        <p class="text-base">This color is text-base</p>
    
        
        
        


    </div>
</body>
</html>