<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        code {background-color: #ffee0054;}
    </style>
</head>

<body>
    <div class="container mx-auto">
        <h1 style="font-size:20px;">Working with Text</h1>

        <p>The prose class is used to automatically format content.</p>

        <a href="https://github.com/tailwindlabs/tailwindcss-typography"
        target="_blank"
        class="btn btn-outline">
            Prose documentation
        </a>

        <h1 style="font-size:20px; margin:40px 0px;">1. Default styling of content</h1>
        <!-- default styling of the elements -->
        <div class="border">
            <h1>Here is a heading</h1>
            <p>Here is a paragraph</p>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
            <a href="#">This is a link</a>
        </div>

        <div class="divider"></div>

        <h1 style="font-size:20px; margin:40px 0px;">2. Styling with <code>prose</code> class</h1>

        <!-- same elements with prose class applied -->
        <div class="prose border">
            <h1>Here is a heading</h1>
            <p>Here is a paragraph</p>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
            <a href="#">This is a link</a>
        </div>
    </div>



    









</body>

</html>