<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="navbar bg-base-100 shadow-sm bg-neutral text-neutral-content">
        <div class="flex-1">
            <p class="text-xl">Jobs Website</p>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/applications">Applications</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="w-2xl mx-auto mt-4">
        <h1 class="text-2xl">Applications List</h1>

        <table class="table my-6">
            <!-- head -->
            <thead>
                <tr>
                    <th>Application Number</th>
                    <th>Job Title</th>
                    <th>Applicant Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        an234j81391ksdjp5q
                    </td>
                    <td>
                        Front End Developer
                    </td>
                    <td>
                        Alice
                    </td>
                </tr>
                <tr>
                    <td>
                        ab172381298232d3d
                    </td>
                    <td>
                        Front End Developer
                    </td>
                    <td>
                        Bob
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>