<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="navbar bg-base-100 shadow-sm bg-neutral text-neutral-content">
        <div class="flex-1">
            <p class="text-xl">Jobs Website</p>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">                
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/applications">Applications</a></li>
                <li><a href="/logout">Logout</a></li>                    
            </ul>
        </div>
    </div>


    <div class="w-2xl mx-auto mt-4">

        <p>Welcome user@gmail.com! </p>

        <table class="table my-6">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Description</th>
                    <th>Apply?</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0 ; i< job.length; i++) { %>
                    <tr>
                        <td class="font-bold">
                            <%= job[i].title  %>
                        </td>
                        <td>
                            <%= job[i].description  %>
                        </td>
                        <!--condtion to check not logged in see Logn in to apply link
                        if logged in 
                        
                        -->
                        <td>
                            <!--<a href="/login">Login to apply</a>-->
                            <a  href="/job/apply/<%= job[i]._id%>" class="btn btn-soft btn-primary">Apply</a>


                        </td>
                    </tr>
                <% } %>
                
                <!-- <tr>
                    <td class="font-bold">
                        Front End Developer
                    </td>
                    <td>
                        Create stunning user interfaces for the web. Flexible hours.
                    </td>
                    <td>
                        if needed, change this to suit your implementation 
                        <button class="btn btn-soft btn-primary">Apply</button>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        Front End Developer
                    </td>
                    <td>
                        Create stunning user interfaces for the web. Flexible hours.
                    </td>
                    <td>
                        <p class="text-error">Not accepting applications</p>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

</body>

</html>