<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page 3</h1>
    <p>Put other stuff heree</p>


    <% if (isPremiumUser === false) { %>
        <p>Here is an ad for buying a subsrciption to chatgpt for $20/mth, click here!</p>
    <% } else { %>
        <p>You are a permium user, so you are ad-free!</p>
    <%  } %>



    <a href="/">Go home</a>
</body>
</html>