# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.test
.env.local

# Dependency directories
jspm_packages/

# Build outputs
dist/
build/
tmp/
temp/

# Optional caches
.cache/
.next/
.nuxt/
.svelte-kit/
.vite/
coverage/
.babel-cache/
.parcel-cache/
.rollup.cache/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Misc
*.tgz
*.swp
