<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Restaurant Reservations</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="w-xs mx-auto mt-4">        
        <h1 class="text-2xl mb-4">Complete your booking</h1>

        <!-- form -->
        <form method="POST" action="/book/99999999" class="flex flex-col gap-3 w-xs">            
            <label class="text-xs uppercase font-bold">What is your name?</label>
            <!-- customer name -->
            <input type="text" class="input input-md" name="txtCustomer"/>
            <!-- submit button -->
            <button class="btn btn-neutral">Reserve</button>
        </form>

        
    </div>    
</body>
</html>
