<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Reservations</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

    <!-- header menu -->
    <div class="navbar bg-base-100 shadow-sm bg-neutral text-neutral-content">
        <div class="flex-1">
            <p class="text-xl">Restaurant</p>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">                
                <li><a href="/manage">Manage Bookings</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>


    <!-- Continue booking message -->    
    <div role="alert" class="alert alert-warning my-4 w-xl mx-auto">
        <span>
            <a href="/" class="link" >
                Click here to continue booking for  <%  %>?
            </a>
        </span>
    </div> 


    <!-- show timeslots -->
    <div class="w-xl mx-auto mt-4">        
        <h1 class="text-2xl mb-4">Join us for dinner this Saturday!</h1>
        <p class="mb-4">Select a reservation time</p>

        <!-- List of reservation timeslots -->

        <!-- ui for an available timeslot -->
        <% for (let i = 0; i < timeslots.length; i++) { %> 
            <div class="flex flex-row justify-start gap-6 items-center my-2 p-4 border border-neutral-content rounded-sm">
                <!-- time -->
               <p><%= timeslots[i].time %></p>
               <% if (timeslots[i].customer) { %>
                <!--if customer exsits, do not show book, and remainder , show only unavailable-->
                    <p>Unavailbale</p>
               <% } else { %>
                <!--no customer in this slot, show book form-->
                 <!-- reminder link  -->
                <a href="/remind/<%=timeslots[i]._id %>" class="btn btn-neutral btn-outline">Set Reminder</a>   

                <!-- booking form -->
                <form action="/book/<%=timeslots[i]._id%>" method="POST" class="join">
                    <input type="text" name="txtCustomer" class="input" placeholder="What's your name?"/>
                    <button class="btn btn-primary join-item">Book</button>
                </form> 



               <% } %>
               
                                     
                
            </div>
        <% } %>   
    </div>    
</body>

</html>
